// REVIEW SECTION STYLE


.section__highlights {
    display: flex;
    flex-direction: column;
    padding: 3% 0%;
    background-color: #124559;
    color: #fafaff;

    * {
        border: none;
    }

    h2 {
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
    }

    a {

.reviews__carousel {
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    background-image: linear-gradient(@bg-color, @content-bg__secondary);
    // @keyframes fadeout {
            
    //     from{
    //         opacity: 100%;
    //     }
    //     to {
    //         opacity: 0%;
    //     }
    // }
    .reviews__review {

        display: flex;
        flex-wrap: wrap;
        // padding: 0.5rem, auto;
        text-align: center;
        color: @text;
        padding: 2rem;
        font-size: 1rem;

        justify-content: center;
    }

    .highlight-list {
        display: flex;
        justify-content: center;

        h2 {
            font-size: .75rem;
        }

        .coloumn-one {
            display: flex;
            flex-direction: column;
            padding-right: 10%;

            div {
                padding: 20% 0%;
            }
        }

        .coloumn-two {
            display: flex;
            flex-direction: column;
            padding-left: 10%;

            div {
                padding: 20% 0%;
            }
        }
    }
}

//Mobile Version

@media(max-width: 500px) {
    .section__highlights {
        .highlight-list {
            display: flex;
            flex-direction: column;

            div {
                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            p {
                display: flex;
                justify-content: center;
            }

            .coloumn-one {
                padding: 0% 10%;
                font-size: 1rem;

                h2 {
                    font-size: 1.2rem;
                }

                div {
                    padding: 5%;
                }
            }

            .coloumn-two {
                padding: 0 10%;
                font-size: 1rem;

                h2 {
                    font-size: 1.2rem;
                }

                div {
                    padding: 5%;
                }
            }
        }


        // animation: 2s infinite alternate fadeout;
        // @keyframes fadeout {
            
        //     from{
        //         opacity: 100%;
        //     }
        //     to {
        //         opacity: 0%;
        //     }
        // }

    }
}

// AUCTION
// ITEMS
// SECTION
main section.section__auction-items {
    .flex(column, nowrap, unset, center);
    background-image: linear-gradient(@content-bg__secondary, @bg-color);
    box-shadow: 0px 10px 2rem 1px #000000;
    padding-top: @x-sml;
    position: relative;
    z-index: 5;
    color: @text;

    h2 {
        font-size: @sml;
    }

    // AUCTION DIV
    // CONTAINER
    div.auction__items {
        .flex(row, wrap, center);
        width: 70%;

        // Mobile max-500px
        @media @mobile_500 {
            width: 80%;
        }

        // INNER DIV
        // AUCTION ITEM
        .auction-item__container {
            .flex(column, nowrap, unset, center);
            width: 40%;
            margin: 1rem;
            background-color: rgba(@text, 0.05);
            border-radius: 0.2rem;

            // Mobile max-500px
            @media @mobile_500 {
                width: 75%;
            }

            // TARGET ALL CHILDREN
            * {
                padding: 0.4rem;
            }

            h3 {
                font-size: @x-sml * 1.5%;

                // Mobile max-500px
                @media @mobile_500 {
                    font-size: @x-sml / 1%;
                }
            }
        }
    }
}