// REVIEW SECTION STYLE

.reviews__carousel {
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    background-image: linear-gradient(@bg-color, @content-bg__secondary);
    .reviews__review {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem, auto;
        text-align: center;
        color: @text;
        padding: 2rem;
    }
}