// HEADER
main section.section__landing {
    height: 50vh;
    background-image: linear-gradient(@bg-color , @content-bg__secondary);
    box-shadow: 0px 10px 2rem 1px #000000;
    position: relative;
    z-index: 6;

    // Mobile max-500px
    @media @mobile_500 {
        height: 70vh;
    }

    header {
        .flex(column, nowrap, space-around);
        height: 100%;
        width: 80%;
        margin: 0 auto;
        color: @text;

        // Mobile max-500px
        @media @mobile_500 {
            width: 100%;
        }

        .landing__top {
            position: relative;
            height: 25%;

            // Mobile max-500px
            @media @mobile_500 {
                height: 3rem;
            }

            // MAIN
            // NAVIGATION
            .nav-list__one {
                .flex(row, nowrap, space-between, center);
                height: 100%;
                margin: 0 auto;

                // Mobile max-500px
                @media @mobile_500 {
                    .flex(row, nowrap, space-between, flex-start);
                    height: 3rem;
                    width: 95%;
                    position: absolute;
                    top: -2rem;
                    right: 0;
                    left: 0;
                }

                .header__logo {
                    height: 80%;

                    // Mobile max-500px
                    @media @mobile_500 {
                        height: 95%;
                    }

                    img {
                        height: 100%;
                        margin: 0 auto;
                    }
                }

                ul {
                    .flex(row, nowrap, center, center);
                    height: 70%;
                    width: 40%;

                    // Mobile max-500px
                    @media @mobile_500 {
                        // height: min-content;
                        display: none;
                    }

                    li {
                        padding: 0.65rem;
                        border-radius: @x-sml;
                        color: @text;
                    }

                    a {
                        margin: 0.2rem;
                    }
                }

                .dropdown:hover,
                .dropdown div:hover {
                    cursor: pointer;
                }

                .dropdown {
                    .flex(column, nowrap, center);
                    height: 1.8rem;
                    width: 2rem;
                    border: 1px solid transparent;
                    border-color: rgba(250, 250, 255, 0.3);
                    border-radius: 0.15rem;
                    margin-top: 0.3rem;
                    visibility: hidden;

                    // Mobile max-500px
                    @media @mobile_500 {
                        visibility: visible;
                    }


                    div {
                        height: 10%;
                        width: 55%;
                        background-color: #f0f0ff;
                        margin: 0.1rem auto;
                        border-radius: 1rem;
                        padding: 0.01rem;
                    }
                }
            }

            // HIDDEN
            // NAVIGATION
            .nav-list__two {
                .flex(column, nowrap, center, center);
                // position: relative;
                visibility: hidden;
            }
        }
    }

    .landing__bottom {
        .flex(row, nowrap, flex-start);
        height: 55%;

        // Mobile max-500px
        @media @mobile_500 {
            height: 14rem;
        }

        .landing__bottom-inner {
            .flex(column, nowrap, space-evenly);
            width: 75%;

            // Mobile max-500px
            @media @mobile_500 {
                width: 90%;
                margin: 0 auto;
            }

            h1 {
                font-size: 3rem;

                // Mobile max-500px
                @media @mobile_500 {
                    font-size: 2rem;
                }
            }

            p {
                font-size: @x-sml;
                line-height: 1.3;
            }

            a {

                // Mobile max-500px
                @media @mobile_500 {
                    text-align: center;
                }

                button {
                    border: none;
                    background: @content-bg;
                    color: @text;
                    border-radius: 0.1rem;
                    padding: 0.2rem;
                    font-size: @x-sml;
                    border-bottom: 1.5px solid lighten(@content-bg, 15%);
                    border-left: 1.5px solid lighten(@content-bg, 15%);
                }
            }
        }
    }
}